* {
	border-radius: 0!important;
}

.online-icon {
	border-radius: 50%!important;
	width: 10px;
	height: 10px;
	background: #00FF00;
	margin-right: 10px;
	margin-top: 6px;
	/* width and height can be anything, as long as they're equal */
}