<div class="form-group">
	<label for="config-username">Username</label>
	<input type="text" class="form-control" id="config-username" ng-model="bot.config.data.connection.username">
</div>
<div class="form-group">
	<label for="config-password">Password</label>
	<input type="text" class="form-control" id="config-password" ng-model="bot.config.data.connection.password">
</div>
<div class="form-group">
	<label for="config-channels">Channels</label>
	<input type="text" class="form-control" id="config-channels" ng-model="bot.config.data.connection.channels">
</div>
<div class="form-group">
	<button ng-click="bot.config.save()" class="btn btn-success btn-block" type="button">Save configuration</button>
</div>